cloud_id                 = "b1gu7i0v5hpshp26mppt"
folder_id                = "b1gfbkstfg38dbbtrv0a"
zone                     = "ru-central1-a"
image_id                 = "fd8a15m8d4t5io0orn8b"
public_key_path          = "~/.ssh/ubuntu.pub"
service_account_key_file = "/home/masemelnikov/key.json"
subnet_id                = "e9bsfbrm4p8t8ief8e6l"
private_key              = "~/.ssh/ubuntu"